:root {
    --bg-color: #1E1E1E;
    --div-color: #2A2A2A;
    --text-color: #E0E0E0;
}

body { 
    font-family: system-ui, sans-serif;
    font-size: 1rem; /* 16px base */

    width: 25rem; /* 400px */

    background-color: var(--bg-color);
}

div {
    background-color: var(--div-color);

    padding: 0.625rem; /* 10px */
    
    border-radius: 0.625rem;
}

p, h1 {
    margin: 0; 

    color: #E0E0E0;
}

h1 {
    font-size: 1.2rem;
    font-weight: 600;
}

.header {
    /* Centering and Aligning items */
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 0.3125rem; /* 5px */
}

#quote-text {
    /* font-style: italic; */
}

#refresh-button {
    /* Centers the content inside the button */
    display: inline-flex;
    align-items: center;
    justify-content: center;

    height: 2.5rem; /* 32px */
    width: 2.5rem; /* 32px */

    border-style: none;
    border-color: var(--div-color);
    border-radius: 2.5rem; /* 16px */

    background-color: transparent;

    cursor: pointer;

    transition: background-color 0.15s;
}

#refresh-button:hover {
    background-color: grey;
}

#refresh-button:active {
    border-style: solid;
}

#refresh-button svg {
    color: var(--text-color);
}

.api-text {
    font-style: italic;
    font-size: 0.5rem;
    color: grey;
}

.api-text a {
    text-decoration: none;
    color: grey;
}

.api-text a:hover {
    text-decoration: underline;
}